<!DOCTYPE html>
<html>
<head>
    <title>学习信息管理</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/bootstrap-3.3.4.css">
    <!--<link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">-->
    <link rel="stylesheet" href="Style/tabs.css" type="text/css">
    <link href="Style/StudentStyle.css" rel="stylesheet" type="text/css" />

    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
    <script type="text/javascript" src="Script/tabs.js" ></script>
    <script type="text/javascript" src="Script/demo.js" ></script>

    <SCRIPT LANGUAGE="javascript">
        function open_box() {
            window.open ("hhhh.html", "newwindow", "height=600, width=800, top=100, left=100, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no")
        }
    </SCRIPT>

    <style type="text/css">
        div.menuSideBar { }
        div.menuSideBar li.nav-header { font-size: 14px; padding: 3px 15px; }
        div.menuSideBar .nav-list > li > a, div.menuSideBar .dropdown-menu li a { -webkit-border-radius: 0px; -moz-border-radius: 0px; -ms-border-radius: 0px; border-radius: 0px; }
    </style>

    <script>
        //退出
        function loginOut() {
            if (confirm("确定退出吗？"))
                window.location = "login.html";
        }
    </script>

    <SCRIPT LANGUAGE="javascript">
        function open_box() {
            window.open ("hhhh.html", "newwindow", "height=600, width=800, top=100, left=100, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no")
        }
    </SCRIPT>

</head>

<body>