<#include "header.html" parse=true/>
    <div class="cztable">
        <div class="tis red">
            注：请仔细核对自己的选课情况。
        </div>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
            <#if student??>
            <tr style="height: 25px" align="center">
                <th scope="col">
                    班号
                </th>
                <th scope="col">
                    课程名称
                </th>
                <th scope="col">
                    学分数
                </th>
                <th scope="col">
                    教师
                </th>
                <th scope="col">
                    课室
                </th>
                <th scope="col">
                    上课时间
                </th>
                <th scope="col">
                    操作
                </th>
            </tr>

            <#if vos??>

            <#list vos as vo>
                <#assign course=vo.get("course") />
                <#assign publishCourse=vo.get("publishCourse") />
                <#assign teacher=vo.get("teacher") />
                <#assign room=vo.get("room") />
                <#assign time=vo.get("time") />
                <#assign mark=vo.get("mark") />

            <tr align="center">
                <td>
                    <div class="courseID">
                        <a href="javascript:;" onclick="open_box()">${course.id}</a>
                    </div>
                </td>
                <td>
                    <div class="courseName">
                        <p >${course.name!}</p>
                    </div>
                </td>
                <td>
                    <div class="courseCredit">
                        <span>${course.credit!}</span>
                    </div>
                </td>
                <td>
                    <div class="courseTeacher">
                        <p>${teacher.name!}</p>
                    </div>
                </td>

                <td>
                    <div class="courseClassroom">
                        <span>${mark!}${room.num!"教室异常"}&nbsp;</span>
                    </div>
                </td>
                <td>
                    <div class="courseDuration">
                        <span>${time!"时间异常"}</span>
                    </div>
                </td>

                <td>
                    <div class="deleteCourse">
                        <a href="javascript:;" onclick="alert('无法删除！hhh')">删除</a>
                    </div>
                </td>
            </tr>
            </#list>

            </#if>

            <#else>
                <tr><th><h3>请登录查看</h3></th></tr>
            </#if>
            </tbody>
        </table>
    </div>

    </div>
</div>
</div>
<#include "footer.html" />
