<#include "header.html" parse=true/>

<div class="cztable">
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td align="right" width="80">姓名：</td>
            <td id="name">余强&nbsp;</td>
            <td align="right" width="90">学号：</td>
            <td id="studentNum">2013101062&nbsp;</td>

            <!--<td rowspan="9"><div align="center"><img id="pic_face"  height="160" width="120" src="Images/user.png"/ style="padding:0px 0px;"></div>&nbsp;</td>-->
        </tr>
        <tr>
            <td align="right">性别：</td>
            <td id="sex">男&nbsp;</td>
            <td align="right">专业：</td>
            <td id="major">计算机科学与技术&nbsp;</td>
        </tr>
        <tr>
            <td align="right">出生日期：</td>
            <td id="birthDate">20170101&nbsp;</td>
            <td align="right">入学年度：</td>
            <td id="enrolYear">2013&nbsp;</td>
        </tr>
        <tr>
            <td align="right">籍贯：</td>
            <td id="nativePlace">安徽合肥&nbsp;</td>
            <td align="right">住宿学院：</td>
            <td id="dormitory">知行123A&nbsp;</td>
        </tr>
        <tr>
            <td align="right">培养层次：</td>
            <td id="cultivateLevel">本科&nbsp;</td>

            <td align="right">当前状态：</td>
            <td id="status" >在读&nbsp;</td>
        </tr>

        <tr>
            <td colspan="4" align="left" style="color: red">联系方式（请输入正确的联系方式，以便能及时联系到你。谢谢！）</td>
        </tr>
        <tr>
            <td align="right">手机号码：</td>
            <td id="phoneNum" >15111141999</td>
            <td align="right">电子邮箱：</td>
            <td id="email">13qyu@stu.edu.cn</td>

        </tr>
        <tr>
            <td align="right">QQ:</td>
            <td id="QQNum" >123456</td>
            <td align="right">微信：</td>
            <td id="wechatNum">余强2333</td>


        </tr>
        <tr>
            <td align="right">联系地址：</td>
            <td id="address" colspan="4">广东省汕头市金平区汕头大学</td>
        </tr>

    </table>
</div>
<#include "footer.html" />